<div class="conct">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="about-cont">
                    <ul class="list-unstyled">
                        <li class="cat-list cpointer" ng-class="brand" ng-click="changebrand()">The Brand</li>
                        <li class="cat-list cpointer" ng-class="about" ng-click="changeabout()">About Designer</li>
                        <li class="cat-list cpointer" ng-class="fashion" ng-click="changefashion()">Fashion & Magic Mirror </li>
                        <li class="cat-list cpointer" ng-class="services" ng-click="changeservices()">Services</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9" ng-if="brand=='bold'">
                <div class="brand-cont">
                    <h3>JEWELLERY MAGIC EXPERTISE AT ITS FINESET.</h3>
                    <p>Magic Mirror was founded in 2004 and has beautiful years'experience in selling, designing and giving the quality jewellery for beautiful women. Our dream carried forward by years & clubbed with new horizon of thinking we proudly own the crown of bigest infrastructure & enormous artistic design in silver art jewellery & perfect professional team & the exquisite design with quality is our core value.Our designers are well experienced & work closely to produce every single piece as a masterpiece.Designs that are from dynasty look to international look & every design is purely single designed by the experience artistic team of Magic Mirror.</p>
                    <div class="brand-img">
                        <img src="img/brand.jpg">
                    </div>
                </div>

            </div>

            <div class="col-md-9" ng-if="about=='bold'">
                <div class="brand-cont cont-design">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <img src="img/pratik.png" class="designer">
                            <div class="titlename">
                                <h4>MR.PRATIK GADA</h4>
                                <span>Designer & Owner</span>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <h3>MAN BEHIND THE SHOW</h3>

                            <p>Magic Mirror was founded in 2004 and has beautiful years'experience in selling, designing and giving the quality jewellery for beautiful women.</p>
                            <p> Our dream carried forward by years & clubbed with new horizon of thinking we proudly own the crown of bigest infrastructure & enormous artistic design in silver art jewellery & perfect professional team & the exquisite design with quality is our core value.Our designers are well experienced & work closely to produce every single piece as a masterpiece.Designs that are from dynasty look to international look & every design is purely single designed by the experience artistic team of Magic Mirror.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-9" ng-if="fashion=='bold'">
                <div class="brand-cont">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="margint"><img src="img/fashionlg.png" height="123px" width="180px">
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <h3>FASHION AND MAGIC MIRROR-</h3>
                            <h4>SPARKEL UPYOUR LOOK WITH MAGIC MIRROR!</h4>
                            <p>Magic Mirror was founded in 2004 and has beautiful years'experience in selling, designing and giving the quality jewellery for beautiful women. Our dream carried forward by years & clubbed with new horizon of thinking we proudly own the crown of bigest infrastructure & enormous artistic design in silver art jewellery & perfect professional team & the exquisite design with quality is our core value.Our designers are well experienced & work closely to produce every single piece as a masterpiece.Designs that are from dynasty look to international look & every design is purely single designed by the experience artistic team of Magic Mirror.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9" ng-if="services=='bold'">
                <div class="brand-cont">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class=""><img src="img/services.png" class="imgservices">
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <h3>WE CROWNED AS KING OF ARTISTIC JEWELLERY.</h3>

                            <p>Magic Mirror was founded in 2004 and has beautiful years'experience in selling, designing and giving the quality jewellery for beautiful women. Our dream carried forward by years & clubbed with new horizon of thinking we proudly own the crown of bigest infrastructure & enormous artistic design in silver art jewellery & perfect professional team & the exquisite design with quality is our core value.Our designers are well experienced & work closely to produce every single piece as a masterpiece.Designs that are from dynasty look to international look & every design is purely single designed by the experience artistic team of Magic Mirror.</p>
                        </div>
                    </div>
                </div>
            </div>



        </div>


    </div>
    <div class="bgborder"></div>
    <div class="container-fluid bg-grey mt20" ng-if="about=='bold'">
        <div class="row details">

            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2><i class="fa fa-quote-left lefticon"></i>INVEST IN GOLD BUT WEAR SILVER<i class="fa fa-quote-right righticon"></i></h2>
                <p>Our dream carried forward by years & clubbed with new horizon of thinking we proudly own the crown of bigest infrastructure & enormous artistic design in silver art jewellery & perfect professional team & the exquisite design with quality is our core value.Our designers are well experienced & work closely to produce every single piece as a masterpiece.Designs that are from dynasty look to international look & every design is purely single designed by the experience artistic team of Magic Mirror.
            </div>
            <div class="col-md-2"></div>

        </div>
    </div>
    <div class="container-fluid" ng-if="about=='bold'">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2>CONNECT ME</h2>
                <p>It will be great to have a chat on the latest trend & fashion with a cup of coffee & it will be my pleasure to have you in our showroom.Feel free to connect me on</p>
                <p>Email:pratik@magicmirror.in</p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>