<div class="conct">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="about-cont">
                    <ul class="list-unstyled">
                        <li class="cat-list cpointer" ng-class="brand" ng-click="changebrand()">The Brand</li>
                        <li class="cat-list cpointer" ng-class="about" ng-click="changeabout()">About Designer</li>
                        <li class="cat-list cpointer" ng-class="fashion" ng-click="changefashion()">Fashion & Magic Mirror </li>
                        <li class="cat-list cpointer" ng-class="services" ng-click="changeservices()">Services</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9" ng-if="brand=='bold'">
                <div class="brand-cont">
                    <h3>THE BRAND</h3>
<!--                    <p>Magic Mirror was founded in 2004 and has beautiful years'experience in selling, designing and giving the quality jewellery for beautiful women. Our dream carried forward by years & clubbed with new horizon of thinking we proudly own the crown of bigest infrastructure & enormous artistic design in silver art jewellery & perfect professional team & the exquisite design with quality is our core value.Our designers are well experienced & work closely to produce every single piece as a masterpiece.Designs that are from dynasty look to international look & every design is purely single designed by the experience artistic team of Magic Mirror.</p>-->
                   <p>Ornaments that reflect the inner you and are symbolic with style, Magic Mirror has been a trendsetter in fashion jewellery, art jewellery, antique jewellery, silver jewellery, imitation and wedding jewellery since its inception in 2004.</p>
                   <p>We have been crowned for one of the best infrastructure facilities in the industry with uniquely skilled professional expertise of the team that helps us thrive on growing consumer preferences and demands. Celebrating beauty of a woman through time and adorning her gracious presence, exquisitely designed intricate jewellery collections from Magic Mirror are an owners pride.</p>
                   <p>We do not compromise on quality standards when it comes to delivering our customers with the best in jewellery, be it imitation jewellery, silver jewellery, art jewellery or the likes. Our designers firmly believe in creation of artistic symbolic masterpieces that present a unique blend of traditional and contemporary designs carefully amalgamated with a modern touch. Magic Mirror team believes in surpassing boundaries in fashion and bringing in international exclusivity with style to enamour senses.</p>
                   <p>Timeless creations that are a reflection of style, beauty, elegance and grace define jewellery from the stable of Magic Mirror. Carefully amalgamating style with your persona, we bring collections that are unique in itself just like you. We deliver the true sense of being you. Explore our vast array of exquisite designs and add a touch of exclusivity to your style.</p>
                    <div class="brand-img">
                        <img src="img/brand.jpg">
                    </div>
                </div>

            </div>

            <div class="col-md-9" ng-if="about=='bold'">
                <div class="brand-cont cont-design">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <img src="img/pratik.png" class="designer img-responsive">
                            <div class="titlename">
                                <h4>MR.PRATIK GADA</h4>
                                <span>Designer & Owner</span>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <h3>MAN BEHIND THE SHOW</h3>

                            <p>Magic Mirror was founded in 2004 and has beautiful years'experience in selling, designing and giving the quality jewellery for beautiful women.</p>
                            <p> Our dream carried forward by years & clubbed with new horizon of thinking we proudly own the crown of bigest infrastructure & enormous artistic design in silver art jewellery & perfect professional team & the exquisite design with quality is our core value.Our designers are well experienced & work closely to produce every single piece as a masterpiece.Designs that are from dynasty look to international look & every design is purely single designed by the experience artistic team of Magic Mirror.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-9" ng-if="fashion=='bold'">
                <div class="brand-cont">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="margint"><img src="img/fashionlg.png" height="123px" width="180px">
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <h3>FASHION AND MAGIC MIRROR-</h3>
                            <h4>SPARKEL UPYOUR LOOK WITH MAGIC MIRROR!</h4>
                            <p>Magic Mirror was founded in 2004 and has beautiful years'experience in selling, designing and giving the quality jewellery for beautiful women. Our dream carried forward by years & clubbed with new horizon of thinking we proudly own the crown of bigest infrastructure & enormous artistic design in silver art jewellery & perfect professional team & the exquisite design with quality is our core value.Our designers are well experienced & work closely to produce every single piece as a masterpiece.Designs that are from dynasty look to international look & every design is purely single designed by the experience artistic team of Magic Mirror.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9" ng-if="services=='bold'">
                <div class="brand-cont">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class=""><img src="img/services.png" class="imgservices">
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <h3>WE CROWNED AS KING OF ARTISTIC JEWELLERY.</h3>

                            <p>Magic Mirror was founded in 2004 and has beautiful years'experience in selling, designing and giving the quality jewellery for beautiful women. Our dream carried forward by years & clubbed with new horizon of thinking we proudly own the crown of bigest infrastructure & enormous artistic design in silver art jewellery & perfect professional team & the exquisite design with quality is our core value.Our designers are well experienced & work closely to produce every single piece as a masterpiece.Designs that are from dynasty look to international look & every design is purely single designed by the experience artistic team of Magic Mirror.</p>
                        </div>
                    </div>
                </div>
            </div>



        </div>


    </div>
    <div class="bgborder"></div>
    <div class="container-fluid bg-grey mt20" ng-if="about=='bold'">
        <div class="row details">

            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2><i class="fa fa-quote-left lefticon"></i>INVEST IN GOLD BUT WEAR SILVER<i class="fa fa-quote-right righticon"></i></h2>
                <p>Our dream carried forward by years & clubbed with new horizon of thinking we proudly own the crown of bigest infrastructure & enormous artistic design in silver art jewellery & perfect professional team & the exquisite design with quality is our core value.Our designers are well experienced & work closely to produce every single piece as a masterpiece.Designs that are from dynasty look to international look & every design is purely single designed by the experience artistic team of Magic Mirror.
            </div>
            <div class="col-md-2"></div>

        </div>
    </div>
    <div class="container-fluid" ng-if="about=='bold'">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2>CONNECT ME</h2>
                <p>It will be great to have a chat on the latest trend & fashion with a cup of coffee & it will be my pleasure to have you in our showroom.Feel free to connect me on</p>
                <p>Email:<a href="mailto:pratik@magicmirror.in">pratik@magicmirror.in</a></p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>