<div class="submenu bg-missuni">
    <div class="container">
        <div class="row">
            <div class="miss-uni">
                <ul class="submenudown">
                    <li class="text-center">
                        <h5>Earing</h5>
                        <img src="img/earings.png">
                    </li>
                    <li class="text-center">
                        <h5>Finger Ring</h5>
                        <img src=img/rings.png>
                    </li>
                    <li class="text-center">
                        <h5>Kada</h5>
                        <img src="img/kada.png">
                    </li>
                    <li class="text-center miss-logo">
                        <img src="img/missuni.png">
                        <p>Explore Miss Universe, the lure of Iconic
                            <br> Itlian Collection from Elegant Kada to
                            <br>Exquisite Rings</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>