<div class="submenu bg-missuni">
    <div class="container">
        <div class="row">
            <div class="miss-uni">
                <ul class="submenudown">
                    <li class="text-center">
                        <a href="#/category/12">
                            <h5>Earing</h5>
                            <img src="img/earings.png">
                        </a>
                    </li>
                    <li class="text-center">
                        <a href="#/category/13">
                            <h5>Finger Ring</h5>
                            <img src=img/rings.png>
                        </a>
                    </li>
                    <li class="text-center">
                        <a href="#/category/14">
                            <h5>Kada</h5>
                            <img src="img/kada.png" class="top-padimg">
                        </a>
                    </li>
                    <li class="miss-logo">
                        <img src="img/missuni.png" class="bottom-padimg">
                        <p>Explore Miss Universe, the lure of Iconic
                            <br> Itlian Collection from Elegant Kada to
                            <br>Exquisite Rings</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>