<div class="bride">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="head-bridecont">
                        <div class="img-bridehead text-center">
                            <img src="img/bridehead.png">
                        </div>
                        <div class="img-bride text-center">
                            <img src="img/brideimg.jpg">
                        </div>
                        <div class="bride-headcont">
                            <p>Every girl dream of fairytale wedding from her childhood a wedding that has a charming prince an exotic wedding place &#38; top the all her jewellery. The quintessential wedding jewellery that you end up immortalizing in photographs along with every other joyous detail of the big day. “You just know” how every infinitesimal detail of stones &#38; diamonds should come together to create magic on one’s wrists, fingers, neck, leaving one with an ethereal wedding radiance.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mainconts">
                    <div class="col-xs-12">
                        <p>For all the brides-to-be, who’re still in search of their ideal jewellery match we show the best & sure 5 jewellery you need to buy:</p>
                    </div>
                    <div class="col-xs-6 maincontsbride">
                        <div class="col-xs-3">
                            <a>
                                <div class="bride1-img">
                                    <img src="img/bride2.png">
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-9">
                            <div class="bride1cont">
                                <p>
                                    This <b>Charming maang tika</b>, the classic sign of an Indian bride-to-be is our first pick. Hints of floral design enameling seen through the ghoonghat with the momentary glint of Vilandi & diamonds sets a beautiful mood for what’s to follow.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 maincontsbride">
                        <div class="col-xs-12">
                            <a ng-click="template.gourl('/category/AD-NECKLACE-SET');">
                                <div class="bride2-img">
                                    <img src="img/bride1.png">
                                </div>
                            </a>
                            <div class="bride2cont">
                                <p>
                                    The <b>Necklace</b>, a work of art, a magical touch, made just for the bride-to-be. Recreating the magic of a heavenly design is this elaborate piece wonder, held together with droplets.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 maincontsbride">
                        <div class="col-xs-6">
                            <a ng-click="template.gourl('/category/Corporate-Earings');">
                                <div class="bride3-img">
                                    <img src=img/bride3.png>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <div class="bride3cont">
                                <p>
                                    <b>Earrings</b> to tunes of the bride-to-be; a pair of quaint earrings that float (like the bride herself) amidst an array of dazzling American diamonds.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 maincontsbride">
                        <div class="col-xs-4">
                            <a ng-click="template.gourl('/category/Bridal-Bangle);">
                                <div class="bride4-img">
                                    <img src=img/bride4.png>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-8">
                            <div class="bride4cont">
                                <p>
                                    Bridal <b>Bangles</b> crafted with exquisite and emblazoned with stones & diamonds. Their clinking marks the arrival of the bride-to-be, to the groom waiting in anticipation to see his true love.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 maincontsbride">
                        <div class="col-xs-4">
                            <a ng-click="template.gourl('/category/FingerRing');">
                                <div class="bride5-img">
                                    <img src=img/bride5.png>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-8">
                            <div class="bride4cont">
                                <p>
                                    Followed by the ideal <b>Ring</b> – A picture of effortless grace on the hand that’s soon to be held, in love, for life.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>