<div class="container">
    <div class="content">
        <div class="celebritycont1">
            <div class="row">
                <div class="col-xs-4">
                    <div class="celebrity-img">
                        <h4>With Late Shri. Yash Chopra</h4>
                        <img src="img/YashChopra.jpg">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="celebrity-img">
                        <h4>With Miss. Anita Hasnandani</h4>
                        <img src="img/AnitaHasnandani.jpg">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="celebrity-img">
                        <h4>With Mrs. Hetal Vakil</h4>
                        <img src="img/HetalVakil.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="celebritycont2">
            <div class="row">
                <div class="col-xs-6">
                    <div class="celebrity-img">
                        <h4>With Mr. Govinda</h4>
                        <img src="img/Govinda.jpg">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="celebrity-img">
                        <h4>With Mrs. Kalpana Morparia</h4>
                        <img src="img/KalpanaMorparia.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>