<div class="container">
<!--
    <div class="contenttop">
        <div class="row">
            <div class="col-xs-4">
                <span class="breadcrumb">
							Delivery
                </span>

            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4">



            </div>
        </div>
    </div>
-->
    <div class="maincontent">

        <h2 class="articleheader">Delivery</h2>
        <div class="articlecontent">
          <h5>Where all do you deliver?</h5>
           <p>We deliver to all and any postal address around India and across the world. Courier companies do not deliver to P.O.Box address, so we request you to provide full street address along with Pin code/Zip code.
Kindly make sure someone’s presence to receive the package when courier delivery is attempted.</p>
       <p>No deliveries are made on Saturdays and Sundays as in most countries 5-days-a-week work-culture is maintained. In many Islamic countries, Friday is normal off-day. Further deliveries are generally made during normal working hours of courier companies and these vary from country to country.</p>
       <p>Please note that there are no shipments made from the store on Sundays and public holidays as our logistics partner does not make any pick-ups on those days.</p>
       <p>We are not responsible for the delivery of the goods while they are in transit.</p>
       
       <h5>Calculating Shipping Cost</h5>
           <p>Shipping and handling rates are based on the size of your order; the larger you order, the lower the rate.</p>
           <p>Please note that shipping cost is not built in each item’s price. You get the benefit of reduced shipping cost on each additional item - fair & transparent shipping rates. Please also note that the shipping rates are weight & value based. The weight of any product can be found on its detail page. To match the policies of the shipping companies we use, all weights will be rounded up to the next 500 grams.</p>
           <p>We offer FREE SHIPPING on orders above USD $ 2000.</p>
        </div>
    </div>
</div>
