<div class="container">
    <!--
    <div class="contenttop">
        <div class="row">
            <div class="col-xs-4">
                <span class="breadcrumb">
							Delivery
                </span>

            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4">



            </div>
        </div>
    </div>
-->
    <div class="maincontent">
        <h2 class="articleheader">Shipping & Delivery</h2>
        <div class="content-static">
            <h2>Where all do you deliver?</h2>
            <p>We deliver to all and any postal address around India and across the world. Courier companies do not deliver to P.O.Box address, so we request you to provide full street address along with Pin code/Zip code.
                <br> Kindly make sure someone’s presence to receive the package when courier delivery is attempted. </p>
            <p>No deliveries are made on Saturdays and Sundays as in most countries 5-days-a-week work-culture is maintained. In many Islamic countries, Friday is normal off-day. Further deliveries are generally made during normal working hours of courier companies and these vary from country to country.</p>
            <p>Please note that there are no shipments made from the store on Sundays and public holidays as our logistics partner does not make any pick-ups on those days.</p>
            <p>We are not responsible for the delivery of the goods while they are in transit. </p>
            <h2>Calculating Shipping Cost</h2>
            <p>Shipping and handling rates are based on the size of your order; the larger you order, the lower the rate. </p>
            <p>Please note that shipping cost is not built in each item’s price. You get the benefit of reduced shipping cost on each additional item - fair &amp; transparent shipping rates. Please also note that the shipping rates are weight &amp; value based. The weight of any product can be found on its detail page. To match the policies of the shipping companies we use, all weights will be rounded up to the next 500 grams.</p>
            <p>We offer FREE SHIPPING on orders above USD $ 2000.</p>
            <h2>Transit Risk</h2>
            <p>We are not responsible for the delivery of the goods while they are in transit.
                <br> Magic mirror will not responsible for lost and stolen packages or any full or partial damages to the package after being left at customer's address by postal / courier agency. </p>
            <h2>Shipment and Online Tracking Details</h2>
            <p>We will send you an email regarding the shipment of your order as soon as the items are handed over to the courier. These alert emails will contain the tracking number and courier company's website details along with expected date of delivery. You may also check the same on our order status page.</p>
            <p>Tracking numbers for orders shipped might take 24 business hours to become active on the courier websites.</p>
            <h2>Address Change Requests</h2>
            <p>No Address change requests will be accepted once the goods are collected by the Shipping Company for delivery. </p>
            <h2>Multiple Address Order</h2>
            <p> If you want to send the product to different addresses, you can place multiple orders.</p>
            <h2>Incorrect or Incomplete Address</h2>
            <p>Please note that some courier companies charge a penalty for incorrect shipping addresses, wherein the address and Zip code do not match. The customer will, without exception, bear the cost of any such penalties and/or fees, not magicmirror.in. Please make sure your shipping address is correct. </p>
            <p>In the event of a reshipment of the same order, customers will be responsible to pay re-shipping charges for the reshipment.</p>
            <h2>Packing Method</h2>
            <p>All products are first packed in the jewellery boxes then put in tamperproof envelopes. All orders are shipped by 1st class air courier services and home delivered within approximately 3-7 working days after dispatch of the shipment.</p>
            <h2>Time to Ship</h2>
            <p>We have mentioned time to ship along with the item image for each item. These are indicative &amp; approx. values only and items can be shipped earlier or later also on case to case basis depending on availability of item and other factors.</p>
            <p>It is advisable to email us with the item codes to get more accurate time to ship estimate.</p>
            <p>We are proud to offer such shipping values to our customers, especially when paired with our fast delivery times. In most cases, your order will be processed within 48-72 hours of your placing it. You can expect to receive your order, on an average within 7 -15 business days of placing the order.</p>
            <h2>What if any delays?</h2>
            <p>Time-to-ship mentioned on our website against each item is indicative and approximate values only and sometimes due to situations beyond our control, delays may occur. No refund, returns, replacement &amp; exchange will be entertained for this reason.</p>
            <p>However, benefits such as some store credit to be used for future orders; free gift etc can be allowed on case to case basis.</p>
            <p>If for any reason, there is going to be a delay in shipping because an item is out of stock or if there is an unusual delay in filling an order, we will notify you by e-mail or call on the number provided by you during the registration process or at the time of placing the order.</p>
            <p>However, any dates for delivery are approximate only and we are not liable for any delay in delivering your order or any part of it. We may choose to deliver your order in separate parts. In some cases we may offer to refund you for unfulfilled part of the order. </p>
            <h2>VAT &amp; Custom Duties</h2>
            <p>VAT / Custom Taxes and Import Duties are beyond our control. They vary according to the rules of different countries and must be paid directly by the buyer. VAT / Custom Taxes and Import Duties are not included in our ordering process, but may be charged to you by your government.
                <br> International customers are responsible for any customs or duty fees levied by their country. We have no control over these charges and cannot predict where they will occur, as policies vary greatly from nation to nation. It is entirely your responsibility. The courier company may also charge some additional service charges over and above custom duty on case to case basis.</p>
            <h2>Billing Address and Shipping Address</h2>
            <p>Billing Address is the address where a customer gets his bills from the credit card company. Shipping address is the address where the customer wants to receive their shipment.</p>
        </div>
    </div>
</div>