<div class="static-page">

    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <h3>DISCLAIMER</h3>
            <p>
            Magic Mirror owns the copyright to all of the content of its website, including images. All trademarks and other intellectual property are owned or licensed by us (unless otherwise specified). You may not copy, reproduce, distribute, republish, download, display, post or transmit any part of the website without written consent from us (except as stated below).<br />
<br />
You may print or download any page(s) for your own personal and non-commercial use only. If you have any doubts about what you can do, please go to our contact us page to apply for permission to reproduce the content.<br />
<br />
While our website is as accurate as possible, we cannot accept responsibility for any inaccuracies or errors beyond our reasonable control. We cannot guarantee that colours in our images will be rendered correctly on different computer monitors.


            </p>
        </div>
    </div>
</div>