<div class="static-page">

    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <h3>FASHION & MAGIC MIRROR</h3>
            <p>
            E-commerce is taking the world of retail by storm.  Hence we felt an increasing need to go online to captivate the interests of those niche masses who have very little time to invest in their shopping needs. This Gen next would like to browse through a vast array of choices of product offerings online and make informed decisions, rather than being allured by the beauty and shimmer.<br />
<br />
We are one of a kind portal with “ready-to-ship” inventory to save on time and costs involved during order processing and purchase.<br />
<br />
Prices of jewellery on the website are quoted in Indian Rupees (INR) and US Dollars (USD). Payment will only be accepted in these currencies. Prices exclude VAT (Value Added Tax)/CST wherever applicable.<br />
<br />
For International deliveries, additional duties and taxes may be applicable for the ordered items as per your country’s regulations, which will be billed separately to you by the courier company at the time of delivery.<br />
<br />
At Magic Mirror, we aim to offer shopping convenience, exciting product range and exceptional service and much more at affordable prices. Payments made on our website through the use of its e-commerce platform are securely processed. We accept all debit and credit cards for payment. Payment can also be made by bank transfers and Paypal. You will be ensured of order confirmation, post receipt of payment and notified about the order delivery date from time to time. If for some reason, your order could not be processed or delivered within a time period specified, we will notify you via email.
During e-commerce transactions with us, you’re obligated to provide:<br />
<br />
 <ul class="static-ul">
<li>True and accurate address with name for billing details. In case of wrong address provided and the product is out for shipment and if the product is undelivered, then second attempt of delivery charges will be borne solely by the customer.</li>
<li>You will have to provide authentic information under all cases, and we have the right to cross verify information provided before the order is out to be shipped for delivery. </li>
<li>If on confirmation, the details provided are partially untrue, then Magic Mirror has the right to solely deject your usage and order on the website without any prior consent whatsoever.</li>
<li>It is duty of the customer we believe, to check the product details carefully when placing an order and read the item descriptions before clicking on payment and purchase.</li>
</ul>

            </p>
        </div>
    </div>
</div>