<div class="static-page">

    <div class="row">
        <div class="col-xs-offset-3 col-xs-7">
            <h2 class="articleheader">FAQ</h2>
            <div class="content-static">
                <h3>Do I need an account to make a purchase? </h3>
                <p>You do not need to create an account or register with us before shopping. Once you confirm the order during your first purchase, you will be prompted to register yourself and provide us your necessary personal details.</p>

                <p>However, registering takes just a few minutes, but it will save lots of your time on your future visits. For instance; if you register with us, we'll save some of your information so that you don't have to enter it again. Hence, registering with us will give you quicker &amp; easier Check Out in future.</p>

                <h3>I forgot my Login Password. What do I do?</h3>
                <p>Please go to the Login page and click on ‘Forgot Password’. You will receive an email on your registered Email ID with instructions on creating a new password.</p>

                <h3>How can I register myself on your websites?</h3>
                <p>Just click on ‘New User’ link available on the upper right hand corner of every page on our website and follow the instruction– and it’s done! </p>

                <h4>Placing an order</h4>

                <h3>How do I place an order on your websites?</h3>
                <p>Placing an order on our websites is very easy. As you browse through our website, you can put the items in your Shopping Cart by clicking on 'Buy Now'. Log in with your email address and password and make the payment or click proceed to pay, provide details and make the payment.</p>

            <p>Alternatively, you can choose to chat with us or simply email us at <a href="mailto:info@magicmirror.in">info@magicmirror.in</a> . We will get in touch with you and will assist you with the order.</p>


                <h4>Tracking an Order</h4>

                <h3>How can I track the status of my order? </h3>
                <p>We have a tracking tool in ‘My Account’ section where you can check the status of your order by entering either order number or the transaction date.</p>

                <h3>Where do I find my order number?</h3>
                <p>The order number is sent to you on your registered Email ID once the order is successfully placed. Alternatively, you can also find the same under Order History in ‘My Account’ section.</p>

                <h4>Refunds and Cancellations</h4>
                <h3>How do I cancel an order once placed?</h3>
                <p>NO CANCELLATIONS.</p>
                <h3>How will I be refunded?</h3>
                <p>NO REFUND POLICY.</p>

                <h4>MY Account</h4>
                <h3>What is My Account?</h3>
                <p>My Account is your one stop for all the information related to your past, current and future purchases on our websites. It holds information like order history, order status and shipping addresses.</p>

                <h3>What is a Shopping Cart?</h3>
                <p>You enter a shop, pick items, drop them in your shopping cart and proceed to the billing section to make the payment. In the website, there is a virtual shopping cart which holds all the items that you wish to purchase. You always have an option to review and delete items which you have selected from the shopping cart.</p>

                <h3>What are the payment options available on your website?</h3>
                <p>Our website offers multiple modes of payment.</p>

                <p>Debit card – Visa/MasterCard/Maestro
                    <br> Credit Card – Visa/MasterCard and also American Express
                    <br> Internet Banking
                    <br> Cash Card</p>
                <h3>I made a purchase on your websites, how do I know if the order was placed successfully or not?</h3>
                <p>Once a successful purchase is made, we send you confirmation order details via email on your registered Email ID.</p>

                <h3>Does our websites deliver outside India?</h3>

                <p>Yes! We ship all over the world.*</p>

                <p>*Shipping charges vary depending upon the location.</p>

                <h3>Is it possible to request for a change of delivery address at any point of time after the order has been placed?</h3>
                <p>Yes! If the product has not being shipped out, we will be able to change the address; however, changing the address is not guaranteed once the product has been shipped out, but contact our customer service team to see the possibility of redirecting the package. Courier charges will vary according to the change in location.</p>

                <h3>I had placed an order 2 days ago. Now, I have to leave on an urgent trip. Can you please hold the delivery until I get back?</h3>
                <p>Absolutely! Please contact our customer care at info@magicmirror.in . If the consignment has already been shipped then we may not be able to hold the delivery.</p>
                <h4>Others</h4>
                <h3>I have some suggestions regarding your service. Where should I post it?</h3>
                <p>We welcome all suggestions and actively work on the feasible ones to serve you better. If you have some, please send them to us at <a href="mailto:info@magicmirror.in ">info@magicmirror.in </a>.</p>
                <h3>I stay near your office. Can I visit your office to buy what I want?</h3>
                <p>You are more than welcome to visit us at our office for a tour. We would be able to give the products to you right away, even from the office.</p>

                <h3>Can I have my product gift wrapped?</h3>
                <p>Absolutely! We would love to gift wrap the order for you. Please chose the ‘Gift Wrap’ Option while placing the order, else contact our customer service team for assistance.</p>
            </div>
        </div>
    </div>
</div>