<div class="container">
    <div class="content">
        <div class="feedback">
            <div class="col-xs-7">
                <div class="get-in">
                    <h2>Feed Back</h2>
                    <div class="input-pad">
                        <div class="input-name">Name:<sup>*</sup>
                        </div>
                        <div class="input-with">
                            <input class="input-widths" name="" type="text" requried>
                        </div>
                    </div>
                    <div class="input-pad">
                        <div class="input-name">Email:<sup>*</sup>
                        </div>
                        <div class="input-with">
                            <input class="input-widths" name="" type="email" requried>
                        </div>
                    </div>
                    <div class="input-pad">
                        <div class="input-name">Address:<sup>*</sup>
                        </div>
                        <div class="input-with">
                            <input class="input-widths" type="text" requried>
                        </div>
                    </div>
                    <div class="input-pad">
                        <div class="input-name">State:
                            <sup>*</sup>
                        </div>
                        <div class="input-with">
                            <input class="input-widths" type="text" requried>
                        </div>
                    </div>
                    <div class="input-pad">
                        <div class="input-name">Zip Code:
                            <sup>*</sup>
                        </div>
                        <div class="input-with">
                            <input class="input-widths" type="text">
                        </div>
                    </div>
                    <div class="input-pad">
                        <div class="input-name">Phone Feedback:
                            <sup>*</sup>
                        </div>
                        <div class="input-with">
                            <textarea class="input-widths" cols="10" row="2" requried> </textarea>
                            <button class="btn feedback" type="submit">Send Mail</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>