<div class="filters sorting">
    <div class="row">
        <div class="filter-bod">
            <div class="col-xs-12">
                <h5 style="margin: 0;">Price</h5>
                <div class="rangeslider" range-slider min="0" max="50000" model-min="filter.pricemin" model-max="filter.pricemax"></div>
            </div>
        </div>

        
 <div class="pull-right">
    <button class=" btn btn-primary" ng-click="filtersaves(filter);">Save</button>
    <button class="btn btn-danger" ng-click="filterclear();">Clear</button>
</div>

        <div class="clearfix"></div>
    </div>
</div>