<div class="header" skrollr class="row marginer"  data-0="opacity:1;margin-top:0px;margin-bottom:0px;" data-500="opacity:0;margin-top:500px;margin-bottom:-500px;" >
    <div class="row">
        <div class="col-xs-3">
            <div myfirstloadclass class="logo fadeInRight">
                <a href="#/home" class="" ng-class="ishome" id="totop">
                    <img src="" />
                </a>
            </div>
        </div>
        <div class="col-xs-6">
            <center>
                <a href="http://instagram.com/lyla_loves" target="_blank">
                    <img src="img/insta.png" class="socialicons">
                </a>
                <a href="https://twitter.com/lyla_loves" target="_blank">
                    <img src="img/twitter.png" class="socialicons">
                </a>
                <a href="https://www.facebook.com/lylaloves" target="_blank">
                    <img src="img/facebook.png" class="socialicons">
                </a>
                <a href="http://www.pinterest.com/lloves1548/" target="_blank">
                    <img src="img/pinterest.png" class="socialicons">
                </a>
                <a href="https://www.tumblr.com/blog/lylalovesblog" target="_blank">
                    <img src="img/tumbler.png" class="socialicons">
                </a>
            </center>
        </div>
        <div class="col-xs-3">
            <div myfirstloadclass class="headerright fadeInRight">
                <a href="#/home" class="" ng-class="ishome">
                    <img src="img/butterfly.png" alt="" class="butterfly-top">
                </a>
            </div>
        </div>
    </div>



