<div class="submenu">
    <div class="container">
        <div class="row">


            <ul class="submenudown">
                <h5>
                        <a >AMERICAN DIAMOND</a>
                    </h5>
                <li>
                    <a ng-click="template.gourl('/category/AD-KADA');">Kada</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/AD-NECKLACE-SET');">Necklace Set</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/AD-PENDANT-SET');">Pendant Set</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/FingerRing');">Finger Ring</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/AD-Mang-Tika');">Mang Tika</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/AD-Bangle');">Bangle</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/AD-PAYAL');">Payal</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/AD-Bracelet');">Bracelet</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/American-Diamond-Juda');">Juda</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/AD-Earing');">Earring</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Kundan');">Kundan</a>
                </li>
            </ul>
            <ul class="submenudown">
                <h5>
                        <a>ANTIQUE</a>
                    </h5>
                <li>
                    <a ng-click="template.gourl('/category/AQ-VICTORIA-SET');">Victoria Set</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Antique-Victoria-Kada');">Victoria Kada</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/AQ-JUDA');">Antique Juda</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Antique-Set');">Antique Set</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Antique-Pendant-Set');">Antique  Pendant Set</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Antique-Payal');">Antique Payal</a>
                </li>
            </ul>

            <ul class="submenudown">
                <h5>
                        <a>MICRO</a>
                    </h5>
                <li>
                    <a ng-click="template.gourl('/category/MICRO-JUDA');">Micro Juda</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/MICRO-SET');">Micro Set</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Micro-Payal');">Micro Payal </a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/MICRO-Pendant-Set');">Micro Pendant Set </a>
                </li>
            </ul>


            <ul class="submenudown">
                <h5>
                        <a href="#/category/37">VILANDI</a>
                    </h5>
                <li>
                    <a ng-click="template.gourl('/category/Vilandi-Necklace-Set');">Necklace Set</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Vilandi-Earring');">Earring</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Vilandi-Pendant-Set');">Pendant Set</a>
                </li>
                    <li>
                    <a ng-click="template.gourl('/category/Vilandi-Pasa');">Pasa</a>
                </li>  
                   <li>
                    <a ng-click="template.gourl('/category/Vilandi-Juda');">Juda</a>
                </li> 
                    <li>
                    <a ng-click="template.gourl('/category/Vilandi-Payal');">Payal</a>
                </li> 
                    <li>
                    <a ng-click="template.gourl('/category/Vilandi-Mang-Tika');">Mang Tika</a>
                </li>
            </ul>

            <ul class="submenudown">
                <h5>
                        <a>Sterling Silver (92.5)</a>
                    </h5>
                <li>
                    <a ng-click="template.gourl('/category/Sterling-Chain');">Sterling Chain</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Pendant-Set');">Pendant Set</a>
                </li>
            </ul>
            <ul class="submenudown">
                <h5>
                        <a>PEARL</a>
                    </h5>
                <li>
                    <a ng-click="template.gourl('/category/Pearl-Mala');">Mala</a>
                </li>

            </ul>
            <ul class="submenudown">
                <h5>
                        <a ng-click="template.gourl('/wedding-jewellery');">WEDDING JEWELLERY</a>
                    </h5>
            </ul>
            <ul class="submenudown" style="float:right;">
                <li class="img-widthimg">
                    <img src="img/01B_MM_Banner_American_Dimond.jpg">
                </li>
            </ul>
            <ul class="submenudown" style="float:right;">
                <li class="img-widthimg">
                    <img src="img/01A_MM_Banner_American_Dimond.jpg">
                </li>
            </ul>


        </div>
    </div>
</div>