<div class="submenu">
    <div class="container">
        <div class="row">
            <!--
         <ul class="submenudown">
    <h5>
                        <a href="#/category/37">VILANDI</a>
                    </h5>
    <li>
        <a href="#/category/61">Vilandi Kada</a>
    </li>
    <li>
        <a href="#/category/62">Vilandi Earings</a>
    </li>
    <li>
        <a href="#/category/63">Vilandi Finger Ring</a>
    </li>
    <li>
        <a href="#/category/64">Vilandi Bridal Set</a>
    </li>
    <li>
        <a href="#/category/65">Vilandi Set</a>
    </li>
    <li>
        <a href="#/category/66">Vilandi Pendant Set</a>
    </li>
    <li>
        <a href="#/category/67">Vilandi Bangle</a>
    </li>
</ul>
-->
            <ul class="submenudown">
                <h5>
                        <a >AMERICAN DIAMOND</a>
                    </h5>
                <li>
                    <a ng-click="template.gourl('/category/AD-KADA');">Kada</a>
                </li>
                <li>

                    <a ng-click="template.gourl('/category/AD-NECKLACE-SET');">Neckleace Set</a>

                </li>
                <li>
                    <a ng-click="template.gourl('/category/AD-PENDANT-SET');">Pendant Set</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/FingerRing');">Finger Ring</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Bridal-Bangle);">Bangle</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/justin');">Payal</a>
                </li>
            </ul>
            <ul class="submenudown">
                <h5>
                        <a>ANTIQUE</a>
                    </h5>
                <!--
                <li>
                    <a href="#/category/75">Bangle</a>
                </li>
-->
                <li>
                    <a ng-click="template.gourl('/category/AQ-VICTORIA-SET');">Victoria Set</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/AQ-JUDA');">Antique Juda</a>
                </li>
            </ul>



            <ul class="submenudown">
                <h5>
                        <a>PEARL</a>
                    </h5>
                <!--
                <li>
                    <a href="#/category/84">Bangle</a>
                </li>
-->
                <li>

                    <a ng-click="template.gourl('/category/Pearl-Mala');">Necklace Set</a>
                </li>
                <!--
                <li>
                    <a href="#/category/17">Kada</a>
                </li>
-->
            </ul>


<!--
            <ul class="submenudown">
                <h5>
                        <a href="">Wedding Jewellery</a>
                    </h5>
                <li>
                    <a ng-click="template.gourl('/category/Bridal-Bangle);">Bangle</a>
                </li>
            </ul>
-->

            <ul class="submenudown">
                <h5>
                        <a>CORPORATE</a>
                    </h5>
                <li>
                    <a ng-click="template.gourl('/category/Corporate-Earings');">Corporate Earring</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Corporate-Kada');">Corporate Kada</a>
                </li>
                <!--
                <li>
                    <a href="#/category/90">Corporate Pendant Set</a>
                </li>
-->
            </ul>
            <ul class="submenudown">
                <h5>
                        <a>MICRO</a>
                    </h5>
                <li>
                    <a ng-click="template.gourl('/category/MICRO-JUDA');">Micro Juda</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/MICRO-SET');">Micro Set</a>
                </li>
            </ul>
             <ul class="submenudown">
                <h5>
                        <a ng-click="template.gourl('/wedding-jewellery');">WEDDING JEWELLERY</a>
                    </h5>
<!--
                <li>
                    <a ng-click="template.gourl('/category/Bridal-Bangle);">Bangle</a>
                </li>
-->
            </ul>
            <ul class="submenudown" style="float:right;">
                <li class="img-widthimg">
                    <img src="img/01B_MM_Banner_American_Dimond.jpg">
                </li>
            </ul>
            <ul class="submenudown" style="float:right;">
                <li class="img-widthimg">
                    <img src="img/01A_MM_Banner_American_Dimond.jpg">
                </li>
            </ul>


        </div>
    </div>
</div>