<div class="submenu">
    <div class="container">
        <div class="row">
            <!--
         <ul class="submenudown">
    <h5>
                        <a href="#/category/37">VILANDI</a>
                    </h5>
    <li>
        <a href="#/category/61">Vilandi Kada</a>
    </li>
    <li>
        <a href="#/category/62">Vilandi Earings</a>
    </li>
    <li>
        <a href="#/category/63">Vilandi Finger Ring</a>
    </li>
    <li>
        <a href="#/category/64">Vilandi Bridal Set</a>
    </li>
    <li>
        <a href="#/category/65">Vilandi Set</a>
    </li>
    <li>
        <a href="#/category/66">Vilandi Pendant Set</a>
    </li>
    <li>
        <a href="#/category/67">Vilandi Bangle</a>
    </li>
</ul>
-->
            <ul class="submenudown">
                <h5>
                        <a >AMERICAN DIAMOND</a>
                    </h5>
                <li>
                    <a href="#/category/3">Kada</a>
                </li>
                <li>

                    <a href="#/category/4">Neckleace Set</a>

                </li>
                <li>
                    <a href="#/category/6">Pendant Set</a>
                </li>
                <li>
                    <a href="#/category/2">Finger Ring</a>
                </li>
                <li>
                    <a href="#/category/1">Bangle</a>
                </li>
                <li>
                    <a href="#/category/5">Payal</a>
                </li>
            </ul>
            <ul class="submenudown">
                <h5>
                        <a>ANTIQUE</a>
                    </h5>
                <!--
                <li>
                    <a href="#/category/75">Bangle</a>
                </li>
-->
                <li>
                    <a href="#/category/8">Victoria Set</a>
                </li>
                <li>
                    <a href="#/category/7">Antique Juda</a>
                </li>
            </ul>



            <ul class="submenudown">
                <h5>
                        <a>PEARL</a>
                    </h5>
                <!--
                <li>
                    <a href="#/category/84">Bangle</a>
                </li>
-->
                <li>

                    <a href="#/category/17">Necklace Set</a>
                </li>
                <!--
                <li>
                    <a href="#/category/17">Kada</a>
                </li>
-->
            </ul>


            <ul class="submenudown">
                <h5>
                        <a href="#/category/25">BRIDAL</a>
                    </h5>
                <li>
                    <a href="#/category/9">Bangle</a>
                </li>
            </ul>

            <ul class="submenudown">
                <h5>
                        <a>CORPORATE</a>
                    </h5>
                <li>
                    <a href="#/category/10">Corporate Earring</a>
                </li>
                <li>
                    <a href="#/category/11">Corporate Kada</a>
                </li>
                <!--
                <li>
                    <a href="#/category/90">Corporate Pendant Set</a>
                </li>
-->
            </ul>
            <ul class="submenudown">
                <h5>
                        <a>MICRO</a>
                    </h5>
                <li>
                    <a href="#/category/15">Micro Juda</a>
                </li>
                <li>
                    <a href="#/category/16">Micro Set</a>
                </li>
            </ul>
            <ul class="submenudown" style="float:right;">
                <li class="img-widthimg">
                    <img src="img/01B_MM_Banner_American_Dimond.jpg">
                </li>
            </ul>
            <ul class="submenudown" style="float:right;">
                <li class="img-widthimg">
                    <img src="img/01A_MM_Banner_American_Dimond.jpg">
                </li>
            </ul>


        </div>
    </div>
</div>