<div class="content">
    <div class="main-login">
        <div class="contenttop">
            <!--
         <div class="row">
    <div class="col-xs-4">
        <div class="breadcrumb">
            Home / Login</a>
        </div>
        </span>
    </div>

</div>
-->

            <div class="container">
                <div class="cart">
                    <h2 ng-show="alert2">{{alert2}}</h2>

                    <div class="row">
                        <div class="col-xs-5">
                            <h4>Register</h4>
                            <h5>{{msgr}}</h5>
                            <p>
                                <input type="text" class="form-control" ng-model="register.firstname" placeholder="First Name*" required>
                            </p>
                            <p>
                                <input type="text" class="form-control" ng-model="register.lastname" placeholder="Last Name*" required>
                            </p>
                            <p>
                                <input type="email" class="form-control" ng-model="register.email" placeholder="Email Address*" required>
                            </p>
                            <p>
                                <input type="password" class="form-control" ng-model="register.password" placeholder="Password*" required>
                            </p>
                            <p>
                                <input type="password" class="form-control" ng-model="confirmpassword" placeholder="Re-enter Password*" required>
                            </p>
                            <p><span>Required fields *</span><a class="btn btn-primary pull-right" ng-click="signup(register)">Signup</a>
                            </p>
                        </div>
                        <div class="col-xs-5 col-xs-offset-2">
                            <h4>Login</h4>
                            <h5>{{msg}}</h5>
                            <p>
                                <input type="email" class="form-control" ng-model="login.email" placeholder="Email Address">
                            </p>
                            <p>
                                <input type="password" class="form-control" ng-model="login.password" placeholder="Password">
                            </p>
                            <p><span><a ng-click="template.gourl('/forgotpassword');">Forgot password ?</a></span>
                                <a class="btn btn-primary pull-right normal-login" ng-click="userlogin(login)" href="">Login</a>
                                <a class="btn btn-primary pull-right fb-login" href="http://wohlig.co.in/social/index.php/hauth/login?provider=Facebook&clientid=2"><i class="fa fa-facebook"></i>Facebook</a>
                                <a class="btn btn-primary pull-right g-login" href="http://wohlig.co.in/social/index.php/hauth/login?provider=Google&clientid=2"><i class="fa fa-google-plus"></i>Google+</a>
                            </p>
                            <!--
                        <div class="gogbtn">
    <a href="http://localhost/admin/index.php/hauth/login/Google?returnurl=http://localhost/magicmirror" class="btnsoc gplus"> Sign in with Google </a>
    <a href="http://localhost/admin/index.php/hauth/login/Facebook?returnurl=http://localhost/magicmirror" class="btnsoc fbook"> Sign in with Facebook </a>
</div>
-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
