<div class="info">
    <div class="container">
        <div class="row">

            <div class="col-xs-3">
                <div class="info-cont">
                    <ul class="info-li">
                        <li class="cat-list cpointer" ng-class="info" ng-click="changeinfo()">Personal Info</li>
                        <li class="cat-list cpointer" ng-class="chngpass" ng-click="changechngpass()">Change password</li>
                        <li class="cat-list cpointer" ng-class="myorders" ng-click="changemyorders()">My Orders </li>
                        <li class="cat-list cpointer" ng-class="ordertracing" ng-click="changeordertracing()">Order Tracking</li>
                    </ul>
                </div>
            </div>
            <div class="myaccnthead col-xs-6">
                <h3>My Account </h3> <span ng-if="info=='bolds'" class="pull-right"> <a href="">Edit</a></span>
            </div>
            <div class="col-xs-4" ng-if="info=='bolds'">
                <div class="chngpswd-cont">
                    <div class="form-group">
                        <div class="input-id">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="input-id">
                            <input type="text" class="form-control" placeholder="Last Name">
                        </div>
                        <div class="input-id">
                            <textarea class="form-control" rows="5" id="comment" placeholder="Address"></textarea>
                            <!--                            <text type="" class="form-control" placeholder="Address">-->
                        </div>
                        <div class="input-id">
                            <input type="emalid" class="form-control" placeholder="Email ID">
                        </div>
                        <div class="input-id">
                            <input type="Phone No." class="form-control" placeholder="Email ID">
                        </div>
                        <div class="input-id">
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Man</label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Woman</label>
                        </div>
                        <a href="">Save</a>
                    </div>
                </div>
            </div>


            <div class="col-xs-4" ng-if="chngpass=='bolds'">
                <div class="chngpswd-cont">
                    <div class="form-group">
                        <div class="input-id">
                            <input type="emalid" class="form-control" placeholder="Email ID">
                        </div>
                        <div class="input-id">
                            <input type="password" class="form-control" placeholder="Old Password">
                        </div>
                        <div class="input-id">
                            <input type="password" class="form-control" placeholder="New Password">
                        </div>
                        <div class="input-id">
                            <input type="password" class="form-control" placeholder="Conform Password">
                        </div>
                        <a href="">Save</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-9" ng-if="myorders=='bolds'">
                <div class="my-order">
                    <div class="cart">
                        <table class="table table-hover content-static content">
                            <thead>
                                <tr>
                                    <th>
                                        Order
                                    </th>
                                    <th>Date</th>
                                    <th>Item</th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>Amount</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                <!-- ngRepeat: singlecart in cart -->
                                <tr>
                                    <td>1</td>
                                    <td>2/13/15</td>
                                    <td>Italian Earring</td>
                                    <!--                            <td class="ng-binding">Italian Earring</td>-->
                                    <td>1</td>

                                    <td>Rs 16795.00</td>
                                    <td>Pending</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2/13/15</td>
                                    <td>Italian Earring</td>
                                    <!--                            <td class="ng-binding">Italian Earring</td>-->
                                    <td>2</td>

                                    <td>Rs 16795.00</td>
                                    <td>Pending</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2/13/15</td>
                                    <td>Italian Earring</td>
                                    <!--                            <td class="ng-binding">Italian Earring</td>-->
                                    <td>3</td>

                                    <td>Rs 16795.00</td>
                                    <td>Pending</td>
                                </tr>
                                <!--
                            <td>
                                <span class="cartspace" ng-hide="newquantity[$index]!=1"></span>
                                <a class="btn btn-default carticon ng-hide" ng-click="subproductcart(singlecart.id,singlecart.name,singlecart.price,newquantity[$index],$index)" ng-show="newquantity[$index]!=1">-</a>
                                <input type="text" ng-model="newquantity[$index]" class="form-control cartinput ng-pristine ng-untouched ng-valid" readonly=""><a class="btn btn-default carticon" ng-click="addproductcart(singlecart.id,singlecart.name,singlecart.price,newquantity[$index],$index)">+</a> &nbsp; &nbsp;<a class="hidden btn btn-primary" ng-click="addtocart(singlecart.id,singlecart.name,singlecart.price,newquantity[$index],$index)"><strong><span class="glyphicon glyphicon-floppy-save"></span></strong></a>
                            </td>
                            <td class="ng-binding">Rs 16795.00</td>
                            <td><a ng-click="deletecart(singlecart.id)"><strong>X</strong></a>
                            </td>
-->

                                <!-- end ngRepeat: singlecart in cart -->

                            </tbody>
                        </table>
<!--
                        <table class="table table-hover content-static content">
                            <thead>
                                <tr>

                                </tr>
                            </thead>
                            <tbody>
                                 ngRepeat: singlecart in cart 
                                <tr>
                                   
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>4/13/10</td>
                                    <td>Italian Earring</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>2/13/15</td>
                                    <td>Italian Earring</td>
                                </tr>
-->

                                <!--
                            <td>
                                <span class="cartspace" ng-hide="newquantity[$index]!=1"></span>
                                <a class="btn btn-default carticon ng-hide" ng-click="subproductcart(singlecart.id,singlecart.name,singlecart.price,newquantity[$index],$index)" ng-show="newquantity[$index]!=1">-</a>
                                <input type="text" ng-model="newquantity[$index]" class="form-control cartinput ng-pristine ng-untouched ng-valid" readonly=""><a class="btn btn-default carticon" ng-click="addproductcart(singlecart.id,singlecart.name,singlecart.price,newquantity[$index],$index)">+</a> &nbsp; &nbsp;<a class="hidden btn btn-primary" ng-click="addtocart(singlecart.id,singlecart.name,singlecart.price,newquantity[$index],$index)"><strong><span class="glyphicon glyphicon-floppy-save"></span></strong></a>
                            </td>
                            <td class="ng-binding">Rs 16795.00</td>
                            <td><a ng-click="deletecart(singlecart.id)"><strong>X</strong></a>
                            </td>
-->

                                <!-- end ngRepeat: singlecart in cart -->

<!--
                            </tbody>
                        </table>
-->
                    </div>
                </div>
            </div>
            <div class="col-xs-4" ng-if="ordertracing=='bolds'">
                <div class="trck-order">
                    <span>Trace Order:</span>
                    <input type="text" class="form-control" placeholder="OrderId"> <span>Track</span>
                </div>
            </div>
        </div>
    </div>
</div>