<div class="popup">
    <div class="text-center popupimg">
    <img src="../img/popuplogo.png">
    </div>
    <div class="poppup-cont text-center">
        <h4>
            Register yourself and get 
        </h4>
        <h3>Rs 1000/- OFF</h3>
    </div>
    <div class="poppup-cont1">
    <span class="popup-email">Email</span><input type="text">
    <a ng-click="template.gourl('/Login');" class="popup-join pull-right">Join Now</a>
        <p class="text-center color">or</p>
        <p class="text-center on-center">
      <span> Connect </span> 
        <a  href="http://wohlig.co.in/social/index.php/hauth/login?provider=Facebook&clientid=2"><i class="fa fa-facebook"></i></a>
        <a href="http://wohlig.co.in/social/index.php/hauth/login?provider=Google&clientid=2"><i class="fa fa-google-plus"></i></a>
        </p>
    </div>
</div>
