<div class="collect-main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="about-cont">
                    <!--
                    <ul class="list-unstyled">
                        <li class="cat-list cpointer" ng-class="brand" ng-click="changebrand()">The Brand</li>
                        <li class="cat-list cpointer" ng-class="about" ng-click="changeabout()">About Designer</li>
                        <li class="cat-list cpointer" ng-class="fashion" ng-click="changefashion()">Fashion & Magic Mirror </li>
                        <li class="cat-list cpointer" ng-class="services" ng-click="changeservices()">Services</li>
                    </ul>
-->
                    <ul>
                        <li> Beautiful Stones </li>
                        <li> Silver </li>
                        <li> Gold Plating </li>
                        <li>No Harsh Chemicals </li>
                        <li> Secure Settings </li>
                        <li> Warranty </li>
                    </ul>
                </div>
            </div>
            <!--            <div class="col-md-9" ng-if="brand=='bold'">-->
            <div class="col-md-7">
                <div class="brand-cont">
                    <h3>PRODUCT CARE</h3>
                    <p>Every piece of Magic Mirror jewellery is unique, with proper care your jewellery pieces will retain their beauty and character for generations to come. Below are some care guidelines to help you keep your jewellery sparkling:</p>
                </div>

                <div class="row productcare">
                    <div class="col-xs-8">
                        <div class="product-care">
                            <h4>Beautiful Stones</h4>
                            <p>Protect the jewellery from being scratched, and from scratching other pieces. Remove your jewels when swimming and gardening so you don't lose them or damage them on rough surfaces.</p>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="product-care">
                            <img src="img/pc1.jpg">
                        </div>
                    </div>
                </div>
                <div class="row productcare">
                    <div class="col-xs-4">
                        <div class="product-care">
                            <img src="img/pc2.jpg">
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="product-care">
                            <h4>Silver</h4>
                            <p>As with most precious metals, in time silver will oxidize. Properly maintained silver actually improves with age and it develops a good polish when treated well. Occasionally wiping your silver pieces with a silver polishing cloth will keep them bright and shiny.</p>
                        </div>
                    </div>
                </div>
                <div class="row productcare">
                    <div class="col-xs-8">
                        <div class="product-care">
                            <h4>Gold Plating</h4>
                            <p>To maintain its bright appearance your gold plated earrings may need to be re-plated once every two to three year, bangles, rings and necklaces will depend on how often you wear them. Remove jewellery when washing hands, showering and sleeping. .</p>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="product-care">
                            <img src="img/pc3.jpg">
                        </div>
                    </div>
                </div>
                <div class="row productcare">
                    <div class="col-xs-4">
                        <div class="product-care">
                            <h4></h4>
                            <img src="img/pc4.jpg">
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="product-care">
                            <h4>No Harsh Chemicals</h4>
                            <p>Salt water and harsh chemicals such as chlorine bleach or detergents can damage your precious jewellery. Hairspray, perfume & other such chemicals can also cause dullness if not regularly cleaned off, and it's best not to shower in your jewellery.</p>
                        </div>
                    </div>
                </div>
                <div class="row productcare">
                    <div class="col-xs-8">
                        <div class="product-care">
                            <h4>Secure Settings</h4>
                            <p>Settings should be checked by a jewellery once a year. Although we take great care when setting a stone, constant wear can cause damage to settings particularly claw settings which can wear down over time or be caught on material causing them to bend. Cracked and lost stones are not guaranteed.</p>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="product-care">
                            <img src="img/pc5.jpg">
                        </div>
                    </div>
                </div>
                <div class="row productcare">
                    <div class="col-xs-12">
                        <div class="product-care">
                            <h4>Warranty</h4>
                            <p>Magic Mirror jewellery carries a warranty. This warranty covers only manufacturing faults and we will at own discretion replace or repair the faulty/damaged product.</p>
                        </div>
                    </div>
                </div>
                <div class="row productcare">
                    <div class="col-xs-12">
                        <div class="product-care">
                            <p>Please contact us with any questions you might have. We are happy to give you more information!</p>
                        </div>
                    </div>
                </div>
            </div>