<div class="collect-main">
    <div class="container">
        <div class="brand-cont">
            <div class="col-md-12">
                <div class="brand-cont">
                    <h3>PRODUCT CARE</h3>
                    <p>Caring for the jewellery art is what we believe and we insist on utmost care for jewellery items be provided under all stages - from manufacturing operations to designing, shipping, product packaging and delivery.</p>
                    <p>
                        This caring principle spreads across all of our jewellery offerings, which means even imitation jewellery pieces is handled with utmost care to avoid scratches or breakage during shipment. Some of the key measures to maximize jewellery care, that we adhere to at Magic Mirror are:
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>
                        Timeless pieces of artistic jewellery are well packaged in special pouches or boxes to prevent chipping, scratches, damage and entanglement.</li>
                    <li> Since our pieces are delicately designed, we provide a manual wherein your jewellery should be stored in cool, dry conditions, far from humidity and extreme temperatures.</li>
                    <li> It is advisable to remove rings when washing or showering to keep the shine intact. Also soap particles leave a mark in stone crevices and film over metal settings to lend it a dull appearance.</li>
                    <li>Silver jewellery from Magic Mirror is hand polished before sale. However, when exposed to atmosphere, all types of silver jewellery is prone to tarnishing and oxidiation.</li>
                    <li> Do not use liquid cleaners to clean jewellery; instead gently rubbing with a silver soft clean cloth will help polish the piece to reflect brilliance on the surface.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li> If you have been wearing gold plated silver jewellery for quite a significant time, then the gold plating will eventually wear down and you will have to plate it again.</li>
                    <li>You need to always ensure when wearing and storing jewellery, that it is not in contact with hard or rough surfaces to avoid scratches that will wear down enamelling or plating of the jewellery.</li>
                    <li> Jewellery should be the last thing a woman should wear to adorn her beauty, post applying makeup, perfumes and other cosmetics. This is because if the piece comes in contact with any harsh chemicals then it may react adversely, break or wear down.</li>
                    <li>Stone studded ornaments should be handled with extra care and precautions should be taken to ensure that the diamond or stone doesn’t hit the hard or rough surfaces. This will lead to development of cracks on the jewellery surface.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
