<div class="collect-main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="about-cont">
                    <!--
                    <ul class="list-unstyled">
                        <li class="cat-list cpointer" ng-class="brand" ng-click="changebrand()">The Brand</li>
                        <li class="cat-list cpointer" ng-class="about" ng-click="changeabout()">About Designer</li>
                        <li class="cat-list cpointer" ng-class="fashion" ng-click="changefashion()">Fashion & Magic Mirror </li>
                        <li class="cat-list cpointer" ng-class="services" ng-click="changeservices()">Services</li>
                    </ul>
-->
                    <ul>
                        <li> Beautiful Stones </li>
                        <li> Silver </li>
                        <li> Gold Plating </li>
                        <li>No Harsh Chemicals </li>
                        <li> Secure Settings </li>
                        <li> Warranty </li>
                    </ul>
                </div>
            </div>
            <!--            <div class="col-md-9" ng-if="brand=='bold'">-->
            <div class="col-md-9">
                <div class="brand-cont">
                    <h3>PRODUCT CARE</h3>
                    <p>Every piece of Magic Mirror jewellery is unique, with proper care your jewellery pieces will retain their beauty and character for generations to come. Below are some care guidelines to help you keep your jewellery sparkling:</p>
                </div>

                <div class="row">
                    <div class="col-xs-8">

                    </div>
                    <div class="col-xs-4">

                    </div>
                </div>
            </div>