<div class="static-page">

    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <h3>Refund Policy</h3>
            <p>
            We offer shipping services of our products to countries across the globe. In case of refunds, customers need to be informed that the product delivered on hand will not resemble those showcased online in terms of colour, slight colour variants maybe applicable. Since our products are handcrafted by skilled technicians, the products can be assured of 100% quality guarantee, if carefully handled with utmost care.<br />
<br />
All products are tested for quality control before shipping orders. Returns and exchanges will only be accepted if your product is damaged during transit or just in case, you have not received the correct order as placed.<br />
<br />
In case of damaged product during transit and claiming for refunds or requesting an another piece of the same kind, returns will only be accepted if the product is sent back as received (unworn, with original packaging in place).<br />
<br />
<h4 class="class="headprivacy""> Steps to making returns and claiming refunds</h4>
 <ul class="static-ul">
<li>You need to inform us within 4 days of delivery, in case the product is damaged during transit or incorrect. You can inform us at info@magicmirror.in</li>
<li>On notifying us about the damage caused to product during shipment with the help of a photograph attached by email, our quality control team will revert promptly on the process to be followed for returns.</li>
<li>Magic Mirror will replace all of the items (or just one) in case, the damage is from our end and provided the jewellery is unworn. We will replace the items free of charge and issue a refund if in case the product goes out of stock or not available. Refunds will only be made once we receive the product in its original packaging.</li>
<li>Magic Mirror does not bear any responsibility for damaged product dispatched but lost in transit, when you send in for a refund.</li> 
<li>However, no refunds will be issued in case you have provided outdated delivery address including the wrong PO Box number. After 3 failed delivery attempts made by our courier agency, the package will be treated as refused and no refunds will be issued in such cases.</li>
<li>In case of sizing issues, please check our sizing guidelines to determine the exact size of your ring or bracelet, before making purchase.</li>
<li>Refunds will not be issued if the product is not actually faulty or damaged. Once the order is placed and shipped it is difficult to modify the order, however it can be cancelled before shipment happens.</li>
</ul>

            </p>
        </div>
    </div>
</div>