<div class="static-page">

    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <h3>SHIPPING & RETURNS</h3>
            <p>We understand that every piece of jewellery that is bought from Magic Mirror is Magical – a gift to yourself or a loved one... We have therefore taken utmost quality & design care in creating and inspecting the product thoroughly and pack it carefully. However if for any reason you are not entirely satisfied with your product, we’ll be glad to rectify the problem or exchange the product.</p>

            <span>Our Return Policy gives you 3 days time to make sure your purchase is perfect. If you need to return it for any reason, </span>
            <ul class="static-ul">
                <li>We'll happily provide you with a refund or exchange, within 3 days of the shipping date </li>
                <li>We can only accept the product without custom engraving, in its original condition and with the certification</li>
                <li>Wrong order Shipped to you </li>
                <li>We cannot refund if the product is used or given back in damaged conditions </li>
                <li>Colors vary from online to actual so please consider it</li>
                <li>Product can only be returned with valid reasons</li>
            </ul>

            <p>We offer FREE Return Shipping. You'll receive complimentary return shipping on all resizing, exchanges, or refunds for all products </p>

            <p>Need help? Think we could have done something better? We are listening and happy to do what we can to improve. Please let us know on support@magicmirror.in</p>

        </div>
    </div>

</div>