<div class="container">

    <h2 class="articleheader">SITEMAP</h2>
    <div class="content-static">
        <div class="row">
            <div class="col-md-2">
                <h3 class="head-mk">Pages</h3>
                <ul class="list-unstyled sitemap-ul1">
                    <li><a  ng-click="template.gourl('/aboutus');">Designer</a>
                    </li>
                    <li><a  ng-click="template.gourl('/justin');">New Arrivals</a>
                    </li>
                    <li><a  ng-click="template.gourl('/contact');">Store Locator</a>
                    </li>
                    <li><a  ng-click="template.gourl('/justin');">Gift Card</a>
                    </li>
                    <li><a  ng-click="template.gourl('/aboutus');">About Us </a>
                    </li>
                    <li><a  ng-click="template.gourl('/contactus');">Contact Us</a>
                    </li>
                    <li><a  ng-click="template.gourl('/delivery');">Shipping & Delivery</a>
                    </li>
                    <li><a  ng-click="template.gourl('/conditions');">Terms & Conditions</a>
                    </li>
                    <li><a  ng-click="template.gourl('/faq');">FAQs</a>
                    </li>
                    <li><a  ng-click="tem');">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10">
                <h3 class="head-mk">Collections</h3>
                <!--
           <div class="col-xs-3">
    <ul class="sitemap-menu">
        <h5>
                        <a href="#/category/37">VILANDI</a>
                    </h5>
        <li>
            <a href="#/category/61">Vilandi Kada</a>
        </li>
        <li>
            <a href="#/category/62">Vilandi Earings</a>
        </li>
        <li>
            <a href="#/category/63">Vilandi Finger Ring</a>
        </li>
        <li>
            <a href="#/category/64">Vilandi Bridal Set</a>
        </li>
        <li>
            <a href="#/category/65">Vilandi Set</a>
        </li>
        <li>
            <a href="#/category/66">Vilandi Pendant Set</a>
        </li>
        <li>
            <a href="#/category/67">Vilandi Bangle</a>
        </li>
    </ul>
</div>
-->

                <div class="col-xs-3">
                    <ul class="sitemap-menu">
                        <h5>
                        <a >AMERICAN DIAMOND</a>
                    </h5>
                        <li>
                            <a href="#/category/45" ng-click="template.gourl('/AD-KADA');">Kada</a>
                        </li>
                        <li>
                            <a ng-click="template.gourl('/AD-NECKLACE-SET');">Neckless Set</a>
                        </li>
                        <li>
                           <a  ng-click="template.gourl('/AD-PENDANT-SET');">Pendant Set</a>
                        </li>
                        <li>
                          <a  ng-click="template.gourl('/FingerRing');">Finger Ring</a>
                        </li>
                        <li>
                            <a ng-click="template.gourl('/Bridal-Bangle);">Bangle</a>
                        </li>
<!--
                        <li>
                            <a href="#/category/48" ng-click="template.gourl('/justin');">Payal</a>
                        </li>
-->
                    </ul>
                    <ul class="sitemap-menu">
                        <h5>
<!--                        <a href="#/category/38" ng-click="template.gourl('/justin');">ANTIQUE</a>-->
                    </h5>
                        <li>
<!--                            <a href="#/category/75" ng-click="template.gourl('/justin');">Bangle</a>-->
                        </li>
                       <li>
                    <a ng-click="template.gourl('/AQ-VICTORIA-SET');">Victoria Set</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/AQ-JUDA');">Antique Juda</a>
                </li>
                    </ul>
                </div>

                <div class="col-xs-3">

                    <ul class="sitemap-menu">
                        <h5>
                        <a href="#/category/39" ng-click="template.gourl('/justin');">Miss Universe</a>
                    </h5>
                        <li>
                            <a href="#/category/78" ng-click="template.gourl('/justin');">Pendant Set</a>
                        </li>
                        <li>
                            <a  ng-click="template.gourl('/Earring');"> Earring</a>
                        </li>
                        <li>
                            <a href="#/category/80" ng-click="template.gourl('/justin');">Nackless Set</a>
                        </li>
                        <li>
                            <a ng-click="template.gourl('/Italian-finger-ring');">Finger Ring </a>
                        </li>
                        <li>
                            <a ng-click="template.gourl('/Italian-kada');">Kada</a>
                        </li>
                    </ul>
                    <ul class="sitemap-menu">
                        <h5>
                        <a href="#/category/40" ng-click="template.gourl('/justin');">PEARL</a>
                    </h5>
                        <li>
                            <a href="#/category/84" ng-click="template.gourl('/justin');">Bangle</a>
                        </li>
                        <li>
                            <a href="#/category/85" ng-click="template.gourl('/justin');">Neckless Set</a>
                        </li>
                        <li>
                            <a ng-click="template.gourl('/Italian-kada');">Kada</a>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-3">

                    <ul class="sitemap-menu">
                        <h5>
                        <a href="#/category/41" ng-click="template.gourl('/justin');">BRIDAL</a>
                    </h5>
                        <li>
                            <a ng-click="template.gourl('/Bridal-Bangle);">Bangle</a>
                        </li>
                    </ul>
                    <ul class="sitemap-menu">
                        <h5>
                        <a href="#/category/42" ng-click="template.gourl('/justin');">CORPORATE</a>
                    </h5>
                        <li>
                            <a ng-click="template.gourl('/Corporate-Earings');">Corporate Earring</a>
                        </li>
                        <li>
                            <a ng-click="template.gourl('/Corporate-Kada');">Corporate Kada</a>
                        </li>
                        <li>
                            <a href="#/category/90" ng-click="template.gourl('/justin');">Corporate Pendant Set</a>
                        </li>
                    </ul>
                    <ul class="sitemap-menu">
                        <h5>
                        <a href="#/category/44" ng-click="template.gourl('/justin');">MICRO</a>
                    </h5>
                        <li>
                            <a ng-click="template.gourl('/MICRO-JUDA');">Micro Juda</a>
                        </li>
                        <li>
                            <a ng-click="template.gourl('/MICRO-SET');">Micro Set</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>