<div class="static-page">

    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <h3>FASHION & MAGIC MIRROR</h3>
            <p>The world of social media is going strong and so is the need to get socially connected across platforms such as Facebook, Twitter and LinkedIn. Boosting this trend in social media, we allow our customers and in-house store personnel to get connected on social media to promote new launches of jewellery and new collections in store.<br />
<br />
To bolster our presence in the jewellery world and to reach out to markets globally, we believe in addressing customer enquiries with the help of social media and also understanding the preferences of generations today, when it comes to art jewellery, silver jewellery, wedding jewellery and the likes.<br />
<br />
Instead of continued ranting about our success stories and USPs of our designs, we would like you to catch a glimpse of our collections in the <a href="http://magicmirror.in/">online store</a> or at a <a href="http://magicmirror.in/contact">retail branch</a> near you.

</p>
        </div>
    </div>
</div>