<div class="static-page">

    <div class="row">
        <div class="col-xs-offset-3 col-xs-7">
            <h2 class="articleheader">Testimonials</h2>
            <div class="content-static">
                <div class="col-md-9">
                    <div class="border-bott">
                        <p class="p-marg-pad"><i class="fa fa-quote-left ico-size"></i>Yesterday I gift an amazing earring as a surprise to my wife;she was so happy by its pretty beautiful shine of Ameriacn diamond & packaging added the shine on her smile. Keep rocking like this MagicMirror.</p><i class="fa fa-quote-right icoo-size"></i>
                        <p class="p-text-align">MAYUR JOSHI</p>
                    </div>
                    <div class="border-botto">
                        <p class="p-marg-pad"><i class="fa fa-quote-left ico-size"></i>The Quality,Finishing and the Packaging was great & the commitment regarding the delivery was really awesome</p><i class="fa fa-quote-right icoo-size"></i>
                        <p class="p-text-align">SAKSHI CHAWLA</p>
                    </div>
                    <div class="border-botto">
                        <p class="p-marg-pad"><i class="fa fa-quote-left ico-size"></i>I just love the designs and having so many options of designer jwellery is so grea, awesome collection awesome jwellery.</p><i class="fa fa-quote-right icoo-size"></i>
                        <p class="p-text-align">EKTA SHAH</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>